<!-- About Section -->
  <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Austin Capital Data is rooted in bioinformatics and applications of knowledge graphs. We're committed to making the fruits of deep technology accessible to a broader audience.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about.gunnar.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Origins</h4>
                                    <h4 class="subheading">Gunnar Kleemann, MIDS; Ph.D. /CEO</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Since my very first job 25 years ago teaching MCAT prep (Princeton review) and biology labs at Barnard College I have been transmitting my enthusiasm for science and research. 
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ACD.about.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Our Mission</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At Austin Capital Data (ACD) we believe that we are in a pivotal time, when data literacy and a full appreciation of scientific innovation is critical to our lives. Our primary mission is to use data science analytics to foster greater access to important but nuanced scientific data. This focus is reflected in our corporate engagements and research portfolio. Our portfolio includes analysis tools for virus biology, cancer research, and patterns of publication in scientific communities. Our corporate engagements involve doing complex analytics, and building tools for drug discovery, disease profiling, genomics and cyber threat intervention. </p>
                               </div>
                            </div>
                            </li>
                            <li>
                           <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We teach, build open-source tools, and develop data products which enable powerful insights from scientific literature. Please contact us if you are interested in our services.  
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>  
                </div>
            </div>
        </section> -->
                       <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>  
            </div>
        </div>
    </section> -->