<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">This focus is reflected in our corporate engagements and research portfolio. Our portfolio includes analysis tools for virus biology, cancer research, and patterns of publication in scientific communities. Our corporate engagements involve doing complex analytics, and building tools for drug discovery, disease profiling, genomics and cyber threat intervention..</h3>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Open Source Education Packs</h4>
                    <p class="text-muted">In order to spread techncal upskilling broadly we offer critial Technical educational materials </p>
                    <p class="text-muted">These are free-to-use and modifiy. We ask for attribution, and that you contribute meaningful enhancements to the open stack</p>
                    <a class="btn btn-primary" href="https://medium.com/austincapitaldata">blog</a>
                    <a class="btn btn-primary" href="https://creatingsapien.github.io/pythonformakers">python teaching</a>
                </div>
    
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Educational staffing and engagements</h4>
                    <p class="text-muted">do you need a course delivered or staffed. We have the people and curriculum!</p>
                    <a class="btn btn-primary" href="#portfolio">portfolio</a>
                </div>
            
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Science and Technology Evangalism</h4>
                        <p class="text-muted">We spread critical thought by writing about topics of broad interest, and producing custom in-person engagements</p>
                        <a class="btn btn-primary" href="">contact us</a>
                    </div>
                </div>
            </div>
    </section>