<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">our core services; Let us get you to the next level!</h3>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technical Curriculum</h4>
                    <p class="text-muted">Critical Core technical educational materials </p>
                    <!-- #
                     In order to spread techncal upskilling broadly we offer critial Technical educational materials 
                     These are free-to-use and modifiy. We ask for attribution, and that you contribute meaningful enhancements to the open stack -->
                    <a class="btn btn-primary" href="https://medium.com/austincapitaldata">blog</a>
                    <a class="btn btn-primary" href="https://creatingsapien.github.io/pythonformakers">python teaching</a>
                </div>
    
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Staffing and Engagements</h4>
                    <p class="text-muted">Course delivery and data science staffing</p>
                    <p class="text-muted"></p>
                    <a class="btn btn-primary" href="#portfolio">portfolio</a>
                </div>
            
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Scientific Outreach and Analysis</h4>
                        <p class="text-muted">reports on critical scientific topics</p>
                        <a class="btn btn-primary" href="">contact us</a>
                    </div>
                </div>
            </div>
    </section>