<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Data science empowers businesses and creative spaces to create new opportunity. Austin Capital Data brings these benefits to everyone.</h3>
                </div>
            <div class="row text-center"></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Project Buildout</h4>
                    <p class="text-muted">Are you ready to see your own project come to life? Austin Capital Data can buildout your concept.</p>
                    <a class="btn btn-primary" href="https://austincapitaldata.myshopify.com/">portfolio</a>
                </div>
            </div>
            
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Education</h4>
                    <p class="text-muted">Austin Capital Data is excited to annouce our upcoming educational series. </p>
                    <a class="btn btn-primary" href="https://medium.com/austincapitaldata">blog</a>
                    <a class="btn btn-primary" href="https://creatingsapien.github.io/pythonformakers">python teaching</a>
                </div>
            </div>
            
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Shop</h4>
                        <p class="text-muted">We've curated a small collection of quality items, available to everyone at our shop.</p>
                        <a class="btn btn-primary" href="https://austincapitaldata.myshopify.com/">Shop Now</a>
                    </div>
                </div>
            </div>
            </div>
    </section>