<!-- Portfolio Grid Section -->
<section id="talks" class="bg-white">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Talks</h2>
              <h3 class="section-subheading text-muted">Interested in learning more? Austin Capital Data's past talks are available to view online.</h3>
          </div>
      </div>
      
<!-- Project One -->
<div class="container">
  <div class="row">
     
    <div class="col-md-4">
        <img src="img/cosmos.png" class="img-responsive">
          <h3>Making Deep-Tech Accessible.</h3>
            <p>Cosmos 2020</p>
              <a class="btn btn-primary" href="https://youtu.be/hcKcNaexGoU">Watch</a>
        </div>
   <div class="col-md-4">
      <img src="img/Cancerlit copy 2.png" class="img-responsive">
        <h3>Making Cancer Literature More Accessible.</h3>
          <p>Grakn Orbit 2020</p>
            <a class="btn btn-primary" href="https://www.youtube.com/watch?v=39wA_cgGQaM&amp%3Bindex=7">Watch</a>
           </div>
   <div class="col-md-4">
      <img src="img/anaconda.png" class="img-responsive">
        <h3>Predicting Biotechnology Success.</h3>
          <p>AnacondaCon 2019</p>
            <a class="btn btn-primary" href="https://www.youtube.com/watch?v=bubP1ldHweg">Watch</a>
          
        </div>
      </div>
   
 <div class="container">
 <div class="row">
   <div class="col-md-4">
      <img src="img/cocktailgraph2.png" class="img-responsive">
        <h3>Exploring Ingredients and Recipes.</h3>
          <p>Grakn Orbit 2020</p>
            <a class="btn btn-primary" href="https://www.youtube.com/watch?v=xBKdlL84fKE&feature=emb_logo">Watch</a>
    </div>
   <div class="col-md-4">
      <img src="img/Cancerpython2.png" class="img-responsive">
        <h3>Public Cancer Literature</h3>
          <p>Austin Python 2020</p>
            <a class="btn btn-primary" href="https://www.youtube.com/watch?t=3631&v=zJOYTt1xXOU&feature=youtu.be">Watch</a>
    </div>
  <div class="col-md-4">
      <img src="img/GraphDB2.png" class="img-responsive">
        <h3>Dynamic Recommender Systems</h3>
          <p>Cognitive Systems 2018</p>
            <a class="btn btn-primary" href="https://www.youtube.com/watch?v=EumvfNX2VuM">Watch</a>
    </div>
  </div>
  
 <div class="container">
  <div class="row">
   
    <div class="col-md-4">
      <img src="img/Virus2.png" class="img-responsive">
        <h3>Viruses! Small and Dangerous; How Can a Knowledge Graph Help Us?</h3>
          <p>Grakn Orbit 2021</p>
            <a class="btn btn-primary" href="https://www.youtube.com/watch?v=pgnq0eyvjKg">Watch
              </a>
              </div>
         
    <div class="col-md-4">
        <img src="img/Covid_img.png" class="img-responsive">
          <h3>Using TypeDB for Biomedical Research.</h3>
            <p>Vaticle Webinar 2021</p>
              <a class="btn btn-primary" href="https://www.youtube.com/watch?v=V-w5j3Hj-2Q">Watch</a>
            </div>
         
    <div class="col-md-4">
        <img src="img/AP.png" class="img-responsive">
          <h3>Using Python and TypeDB to Understand Virus Biology.</h3>
            <p>Austin Python 2021</p>
              <a class="btn btn-primary" href="https://www.youtube.com/watch?v=eceyJD5mhOY">Watch</a>
  </div>
 </div>
    </section>
  

 