
<!-- Portfolio Grid Section -->
<section id="talks" class="bg-white">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Talks</h2>
              <h3 class="section-subheading text-muted">Interested in learning more? Austin Capital Data's past talks are available to view online.</h3>
          </div>
      </div>

      <div class="container my-4">

        <p class="font-weight-bold">Bootstrap embeds is a utility which helps you to insert a video or slideshow in the page keeping width of the parent and scales on any device.</p>
    
        <p><strong>Detailed documentation and more examples you can find in our <a href="https://mdbootstrap.com/docs/jquery/utilities/embeds/"
              target="_blank">Bootstrap Embeds Docs</a> </p>
    
        <hr>
    
        <p class="font-weight-bold">Basic example</p>

        <p>Let's wrap any embed like an
          <code>&lt;iframe&gt;</code> in a parent element with .embed-responsive and an aspect ratio. The
          .embed-responsive-item
          isn’t strictly required, but we encourage its use.</p>

          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
          </div>
    
      </div>