
<!-- Portfolio Grid Section -->
<section id="talks" class="bg-white">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Talks</h2>
              <h3 class="section-subheading text-muted">Interested in learning more? Austin Capital Data's past talks are available to view online.</h3>
          </div>
      </div>
      <div class="container">

<!-- Project One -->
<div class="container">
  <div class="row">
      
    <div class="col-md-4">
        <img src="img/talkthumbnail.png" class="img-responsive">
          <h3>Grakn Cosmos 2020</h3>
            <p>Biopredictor: Leveraging Knowledge Graphs to Make Deep-Tech Accessible.</p>
              <a class="btn btn-primary" href="https://youtu.be/hcKcNaexGoU">Watch</a>
    </div>
  
  <div class="col-md-4">
      <img src="img/Cancerlit.png" class="img-responsive">
        <h3>Grakn Orbit 2020</h3>
          <p>Cancer Graph.</p>
            <a class="btn btn-primary" href="https://www.youtube.com/watch?v=39wA_cgGQaM&amp%3Bindex=7">Watch</a>
   </div>
  
  <div class="col-md-4">
      <img src="img/Biotech.png" class="img-responsive">
        <h3>AnacondaCon 2019</h3>
          <p>Biorevolutions: Predicting Biotechnology Success Using Data Science.</p>
            <a class="btn btn-primary" href="https://www.youtube.com/watch?v=bubP1ldHweg">Watch</a>
  </div>
</div>
<!-- /.row -->
<hr>
<!--Project 2-->
<div class="container">
<div class="row">
   
  <div class="col-md-4">
      <img src="img/cocktailgraph.png" class="img-responsive">
        <h3>Grakn Orbit 2020</h3>
          <p>Cocktailgraph - Exploring Ingredients and Recipes from a Biochemical Perspective.</p>
            <a class="btn btn-primary" href="https://www.youtube.com/watch?v=xBKdlL84fKE&feature=emb_logo">Watch</a>
    </div>
  
  <div class="col-md-4">
      <img src="img/Cancerpython.png" class="img-responsive">
        <h3>Austin Python Meetup 2020</h3>
          <p>Digging in to Public Cancer Literature Using Python.</p>
            <a class="btn btn-primary" href="https://www.youtube.com/watch?t=3631&v=zJOYTt1xXOU&feature=youtu.be">Watch</a>
    </div>
 
  <div class="col-md-4">
      <img src="img/GraphDB.png" class="img-responsive">
        <h3>Cognitive Systems Speaker Series 2018</h3>
          <p>Graph Databases for Dynamic Recommender Systems and Outlier Detection.</p>
            <a class="btn btn-primary" href="https://www.youtube.com/watch?v=EumvfNX2VuM">Watch
    </a>
    </div>
    </div>

<div class="container">
  <div class="row">
    
    <div class="col-md-4">
      <img src="img/Virus.png" class="img-responsive">
        <h3>Grakn Orbit 2021</h3>
          <p>Viruses! Small and Dangerous; How Can a Knowledge Graph Help Us?</p>
            <a class="btn btn-primary" href="https://www.youtube.com/watch?v=pgnq0eyvjKg">Watch
              </a>
              </div>
          
    <div class="col-md-4">
        <img src="img/Covid_img.png" class="img-responsive">
          <h3>Vaticle Webinar 2021</h3>
            <p>Using TypeDB for Biomedical Research</p>
              <a class="btn btn-primary" href="https://www.youtube.com/watch?v=V-w5j3Hj-2Q">Watch
    </a>
  </div>
</div>
    </section>
